In [18]:
import pandas as pd
import numpy as np
Save = pd.read_csv("data_all.csv")

In [19]:
Save.head(1)

,participant.id_in_session,participant.code,participant.label,participant._is_bot,participant._index_in_pages,participant._max_page_index,participant._current_app_name,participant._current_page_name,participant.time_started_utc,participant.visited,...,stage2.31.player.payoff,stage2.31.player.options_chosen,stage2.31.group.id_in_subsession,stage2.31.subsession.round_number,stage2.32.player.id_in_group,stage2.32.player.role,stage2.32.player.payoff,stage2.32.player.options_chosen,stage2.32.group.id_in_subsession,stage2.32.subsession.round_number
0,1,8l5kgn7k,NaN,0,1104,1104,stage2,Results,05:20.2,1,...,0,"[""f"",""f"",""f"",""f"",""f"",""f"",""f"",""f"",""f"",""v"",""v"",""...",1,31,1,NaN,0,"[""f"",""f"",""f"",""f"",""f"",""f"",""f"",""f"",""f"",""f"",""f"",""...",1,32

In [20]:
#Drops all empty columns
Save.dropna(how='all', axis=1, inplace=True)

In [21]:
Save.shape

(2, 1300)

In [22]:
Save.head(1)

,participant.id_in_session,participant.code,participant._is_bot,participant._index_in_pages,participant._max_page_index,participant._current_app_name,participant._current_page_name,participant.time_started_utc,participant.visited,participant.payoff,...,stage2.31.player.id_in_group,stage2.31.player.payoff,stage2.31.player.options_chosen,stage2.31.group.id_in_subsession,stage2.31.subsession.round_number,stage2.32.player.id_in_group,stage2.32.player.payoff,stage2.32.player.options_chosen,stage2.32.group.id_in_subsession,stage2.32.subsession.round_number
0,1,8l5kgn7k,0,1104,1104,stage2,Results,05:20.2,1,0,...,1,0,"[""f"",""f"",""f"",""f"",""f"",""f"",""f"",""f"",""f"",""v"",""v"",""...",1,31,1,0,"[""f"",""f"",""f"",""f"",""f"",""f"",""f"",""f"",""f"",""f"",""f"",""...",1,32

In [23]:
#TO DO: iterate through each cell, which has an array

#array to store all rounds fixed/variable sums
sumListVariable = []

#gets all cells of options_chosen (except rn there's it's not every 5 steps because 4-120 don't have responses)
FV = Save.loc[:,'stage2.1.player.options_chosen':'stage2.32.player.options_chosen':5]
#this needs to be looped, right now just gets first round
array1 = FV.iloc[:,0]
#array1[0] calls the entire array for first round, sums up f values
#OR would we replace that entire cell with the sum of f?
sumListVariable.append(sum(1 for i in array1[0] if i == "f"))

In [24]:
# NEED TO FIX SO NOT CALLING A COPY 
#Iterates through all rows where there's a list of f and v
for i in range(Save.loc[:,'stage2.1.player.options_chosen':'stage2.32.player.options_chosen':5].shape[0]): #iterate over rows
    for j in range(Save.loc[:,'stage2.1.player.options_chosen':'stage2.32.player.options_chosen':5].shape[1]): #iterate over columns
        val = sum(1 for i in Save.loc[:,'stage2.1.player.options_chosen':'stage2.32.player.options_chosen':5].iloc[i,j] if i == "f") #sum f
        FV.iloc[i,j] = val #replace array with sum of f
        print(val, end="\t")
    #print()

43	11	17	14	17	13	15	14	14	15	12	12	15	14	11	16	21	16	43	15	13	13	12	12	12	13	15	62	11	15	9	14	43	11	17	14	17	13	15	14	14	15	12	12	15	14	11	16	21	16	43	15	13	13	12	12	12	13	15	62	11	15	9	14

In [25]:
np.array(FV.iloc[:,0])[0]

43

In [26]:
FV

,stage2.1.player.options_chosen,stage2.2.player.options_chosen,stage2.3.player.options_chosen,stage2.4.player.options_chosen,stage2.5.player.options_chosen,stage2.6.player.options_chosen,stage2.7.player.options_chosen,stage2.8.player.options_chosen,stage2.9.player.options_chosen,stage2.10.player.options_chosen,...,stage2.23.player.options_chosen,stage2.24.player.options_chosen,stage2.25.player.options_chosen,stage2.26.player.options_chosen,stage2.27.player.options_chosen,stage2.28.player.options_chosen,stage2.29.player.options_chosen,stage2.30.player.options_chosen,stage2.31.player.options_chosen,stage2.32.player.options_chosen
0,43,11,17,14,17,13,15,14,14,15,...,12,12,12,13,15,62,11,15,9,14
1,43,11,17,14,17,13,15,14,14,15,...,12,12,12,13,15,62,11,15,9,14

In [27]:
FV.to_csv("stage_2.csv")

In [ ]:
#saves data into new CSV
#Save.to_csv('Save_Clean.csv')